

.start ul li:nth-child(1){
    background: url(images/process-top-1.png) 65px top no-repeat !important; /*here is the above icon image  */
    padding-top: 180px !important;
}
.start ul li:nth-child(odd){
    background: url(../../../../public/images/process-line-3.png) 200px top no-repeat;
    padding-right: 590px;
    padding-top: 100px !important;
}
.start ul li:nth-child(even){
    background: url(../../../../public/images/process-line-2.png) 200px top no-repeat;
    padding-left: 590px;
    padding-top: 100px;
}


.start ul li .icon{
    /* margin: 30px 0px; */
    display: inline-block;
    height: 124px;
    width: 124px;
    /* margin-right: 30px; */
    text-align: center;
}

.start ul li h4{
    color: #42f5f5;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}

/* .start ul li .media-body{
   width: 400px;
} */

.start ul li p{
    color: #42f5f5;
    font-size: 15px;
}

.home .process:after{
    /* background: url(images/client-bg-1.png) center top no-repeat; */
    height: 100%;
    /* position: absolute; */
    top: 0;
    content: "";
    width: 100%;
    z-index: 1;
}

.home .process:before{
    /* position: absolute; */
    top: 0;
    content: "";
    width: 100%;
    left: 0px;
  
}

.icon img{
    width: 800px;
    height: 160px;
    margin-left: -105px;
    margin-top: -10px;
    animation: ani 2s ease-in-out infinite;

}

/* .one img{
    width: 400px;
    
}


.two img{
    width: 300px;
    height: 200px;
   
}

.three img{
    width: 600px;

}

.four img{
    width: 300px;
   
   
}


.five img{
    width: 1000px;
 

} */

@keyframes ani {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 768px ) and (min-width: 320px) {

    .start ul li:nth-child(1){
        background: url(images/process-top-12.png) 65px top no-repeat !important; /*here is the above icon image  */
        padding-top: 0px !important;
    }
    .start ul li:nth-child(odd){
        background: url(images/process-line-34.png) 30px top no-repeat;
        padding-right: 0;
        padding-top: 100px !important;
    }
    .start ul li:nth-child(even){
        background: url(images/process-line-23.png) 30px top no-repeat;
        padding-left: 0;
        padding-top: 100px;
    }

    .start ul li .icon{
        margin: 0px 0px;
        display: flex;
        height: 124px;
        width: 124px;
        margin-right: 0px;
        text-align: center;
    }
    
    .start ul li h4{
        color: #42f5f5;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
    
    }
    
    /* .start ul li .media-body{
       width: 400px;
    } */
    
    .start ul li p{
        color: white;
    }
    
    .home .process:after{
        /* background: url(images/client-bg-1.png) center top no-repeat; */
        height: 100%;
        /* position: absolute; */
        top: 0;
        content: "";
        width: 100%;
        z-index: 1;
    }
    
    .home .process:before{
        /* position: absolute; */
        top: 0;
        content: "";
        width: 100%;
        left: 0px;
        background: white;
      
    }
    
    .icon img{
        width: 190px;
        height: 190px;
        margin-left: 0px;
        margin-top: -20px;
        border: white;
        animation: ani 5s ease-in-out infinite;
    
    }
    
    .one img{
        
        margin-left: 100px;
        padding-bottom: 10px;
    }
    
    
    .two img{
        width: 180px;
        height: 180px;
        margin-left: 80px;
        padding-bottom: 10px;
        margin-top: -80px;
    }
    
    .three img{
        width: 150px;
        height: 150px;
        margin-left: 90px;
        margin-top: -80px;
    }
    
    .four img{
        width: 165px;
        height: 165px;
        margin-left: 70px;
        margin-top: -80px;
    }
    
    
    .five img{
        width: 175px;
        height: 175px;
        margin-left: 90px;
        margin-top: -60px;
    
    }
}